<h2>Show Info</h2>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @info.content %>
  </li>

</ul>

<span><%= link "Aanpassen", to: info_path(@conn, :edit, @info) %></span>
<span><%= link "Back", to: info_path(@conn, :index) %></span>
