<h2>Edit Challenge group</h2>

<%= render "form.html", Map.put(assigns, :action, challenge_group_path(@conn, :update, @challenge_group)) %>

<span><%= link "Back", to: challenge_group_path(@conn, :index) %></span>
