<h2>Show Team</h2>

<ul>

  <li>
    <strong>Naam:</strong>
    <%= @team.name %>
  </li>

</ul>

<span><%= link "Aanpassen", to: team_path(@conn, :edit, @team) %></span>
<span id="empty-space"></span>
<span><%= link "Terug", to: team_path(@conn, :index) %></span>
