<div class="jumbotron">
  <div>
  <span><%= link "Users", to: user_path(@conn, :index), class: "btn btn-default btn" %></span>
  <span><%= link "Teams", to: team_path(@conn, :index), class: "btn btn-default btn" %></span>
  <span><%= link "Challenges", to: challenge_path(@conn, :index), class: "btn btn-default btn" %></span>
  </div>
  <h2><%= "Klantgericht Omroepen!" %></h2>
</div>
